<%= seventy_thirty_container do |c| %>
  <%= c.left do %>  
    <%= bento_form([:bento, @portfolio]) do |f| %>
      <% if @portfolio.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>
    
          <ul>
          <% @portfolio.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.group :default, {} do |g|%> 
          		<div class="left-container">
          <%= g.label :name %>
		</div>
          <%= g.text_field :name %><br />
  		<div class="left-container">
          <%= g.label :portfolio_items %>
		</div>
          <%= g.selector :portfolio_items, {:label => :low_res_src, :is_label_image => true, :orderable => true, :tooltip => [:name, :item_type]} %><br />
      <% end %>
      <%= f.submit %>
    <% end %>
  <% end %>
  <%= c.right do %>
  <% end %>
<% end %>
