<%= seventy_thirty_container do |c| %>
  <%= c.left do %>  
    <%= bento_form([:bento, @coming_soon]) do |f| %>
      <% if @coming_soon.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@coming_soon.errors.count, "error") %> prohibited this coming_soon from being saved:</h2>
    
          <ul>
          <% @coming_soon.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.group :default, {} do |g|%> 
          		<div class="left-container">
          <%= g.label :message %>
		</div>
          <%= g.text_field :message %><br />
                <% end %>
      <%= f.submit %>
    <% end %>
  <% end %>
  <%= c.right do %>
  <% end %>
<% end %>
